@model ICollection<SellBook.Models.PublicationViewModel>

@{ 
    var model = Model.ToList();
}

@if(model.Count == 0)
{
   <div class="text-danger">Няма Намерени Резултати</div>
}
else
{
    foreach (var item in model)
    {
        <img src="@Url.Content(item.Image)" width="200" height="200" />
    }
}